a:hover{
	cursor:pointer;
	text-decoration:none;

}
.jumbotron{
	text-align:center;
	padding:15%;
	background-image: url('imgs/cook.jpg');
    background-size:100%;
}
nav a {
	color:white;
}
nav a:hover{
	color:white;
}
.button{
	margin:2%;
}
nav a:focus{
	color:white;
}